*. *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    color: #1F1F1F;
    
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 80px;
}

.header-logo {
    font-size: 20px;
    font-weight: 700;
}

.header-list {
    display: flex;
}

.header-list li {
    list-style: none;
}

.header-list-item a {
    text-decoration: none;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 500;
    margin: 0 21px;
}

.header-action {
    display: flex;
    gap: 24px;
}

.header-search {
    min-width: 235px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #969696;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 50px;
    background-color: #F2F2F2;
    padding: 14px 48px;
    background-image: url('../img/Vector.png');
    background-repeat: no-repeat;
    background-position: 16px center;
}

.header-cart {
    width: 52px;
    height: 52px;
    background-color: #F2F2F2;
    border-radius: 50px;
    background-image: url('../img/Bag.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* CONTENT */

.main {
    padding: 0 80px;
}

.section-first {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.section-h2 {
    font-size: 104px;
    font-weight: 700;
    margin: 0;
    line-height: 104px;
    color: #DADADA;
    color: linear-gradient(270.06deg, #DADADA 28.97%, #9F9F9F 99.92%);
}

.section-subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 475px;
    margin-top: 24px;
}

.section-btn {
    width: 336px;
    border: 2px solid #1F1F1F;
    border-radius: 12px;
    background: white;
    padding: 28px 32px;
    margin-top: 108px;
    font-size: 20px;
}

.aside1 {
    background: #F3F3F3;
    width: 100%;
    padding: 64px 0;
    margin-top: 200px;
}

.aside-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.aside-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 64px;
}

.aside-list-item {
    list-style: none;
    margin: 0 10px;
}

.tenis-branco {
    display: block;
    margin: 32px auto;
}

.aside1 span {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}

.aside-btn {
    width: 336px;
    border: 2px solid #1F1F1F;
    border-radius: 12px;
    padding: 28px 32px;
    margin: 64px auto 0 auto;
    font-size: 20px;
    display: block;
}

.section-content {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    gap: 100px;
}

.section-content-title {
    font-size: 44px;
    font-weight: 700;
    margin: 0;
    color: #DADADA;
    color: linear-gradient(270.06deg, #DADADA 28.97%, #9F9F9F 99.92%);
}

.section-content-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 56px;
}

.section-reverse {
    flex-direction: row-reverse;
}

.aside-run {
    background: url('../img/Image.png') no-repeat;
    background-size: cover;
    height: 720px;
    margin-top: 200px;
    padding: 16px 24px;
}


.aside-run div {
    display: flex;
    align-items: center;
    gap: 22px;
}

.seta {
    display: block;
    width: 44px;
    height: 45px;
}

.aside-run span {
    font-size: 104px;
    font-weight: 700;
    line-height: 104px;
    color: white;
    display: block;
}

.section-final {
    display: flex;
    margin-top: 200px;
}


.section-form {
    background: #F3F3F3;
    padding: 30px;
    

}

.section-form-title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.form-blank {
    border: none;
    border-radius: 12px;
    padding: 24px;
    font-size: 20px;
    margin-top: 24px;
    width: 90%;
}

.textarea {
    border: none;
    border-radius: 12px;
    padding: 24px;
    font-size: 20px;
    margin-top: 24px;
    font-family: 'Lato', sans-serif;
    width: 90%;
}

label {
    font-size: 20px;
    color: #969696;
    display: inline-block;
}

.checkbox {
    margin-top: 58px;
}

.form-btn {
    padding: 28px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #1F1F1F;
    border-radius: 12px;
    margin-top: 32px;
    display: block;
    width: 100%;
}

.footer {
    background: #F3F3F3;
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    padding: 56px 80px;
}

.footer-logo {
    font-size: 20px;
    font-weight: 700;
}

.footer ul {
    list-style: none;
}

.footer-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.footer-list-item a {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: #1F1F1F;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: space-between;
}

.extrafooter {
    background: #F3F3F3;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.extrafooter span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.extrafooter img {
    width: 159px;
    height: 19px;
}